<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h3>Navigate</h3>
            <ul>
                <li><a id="footer-home" href="http://www.guru.com/emp/index.aspx" onfocus="this.blur()">Home</a></li>
                <li><a id="footer-signin" href="http://www.guru.com/login.aspx" onfocus="this.blur()">Sign In</a></li>
                <li><a id="footer-joinnow" href="http://www.guru.com/RegisterAccount.aspx" onfocus="this.blur()">Join Now</a></li>
                <li><a id="footer-postjob-link" href="https://www.guru.com/post-job/" onfocus="this.blur()">Post a Job</a></li>
                <li><a id="footer-searchfreelancers" href="http://www.guru.com/emp/search.aspx" onfocus="this.blur()">Find a Guru</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h3>Company Info</h3>
            <ul>
                <li><a id="footer-aboutguru" href="http://www.guru.com/about/" onfocus="this.blur()">About Guru</a></li>
                <li><a id="footer-howitworks" href="http://www.guru.com/howitworks.aspx" onfocus="this.blur()">How it Works</a></li>
                <li><a id="footer-directory" href="/directory" onfocus="this.blur()">Directory</a></li>
                <li><a id="footer-ippolicy" href="http://www.guru.com/trademark-copyright-policy/" onfocus="this.blur()">IP Policy</a></li>
                <li><a id="footer-privacypolicy" href="http://www.guru.com/privacy-policy/" onfocus="this.blur()">Privacy Policy</a></li>
                <li><a id="footer-tos" href="http://www.guru.com/terms-of-service/" onfocus="this.blur()">Terms of Service</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h3>Resources</h3>
            <ul>
                <li><a id="footer-help" href="http://www.guru.com/help/" onfocus="this.blur()">Help &amp; FAQ</a></li>
                <li><a id="footer-blog" href="http://www.guru.com/blog/" onfocus="this.blur()">Blog</a></li>
                <li><a id="footer-answers" href="http://www.guru.com/answers/" onfocus="this.blur()">Answers</a></li>
                <li><a id="footer-askquestion" href="http://www.guru.com/answers/questions/ask.html" onfocus="this.blur()">Ask A Question</a></li>
            </ul>
        </div>

        <div class="col-sm-3">
            <br>
            <a href="https://www.guru.com/post-job/" class="btn btn-primary" id="footer-postjob-button">Post a Job</a>

            <br>

            <ul id="socialFooter">
                <li><a href="https://www.facebook.com/work.your.way?v=wall" class="fb" target="_blank"><i aria-hidden="true" data-icon=""></i> Facebook</a></li>
                <li><a href="http://www.twitter.com/Guru_com" target="_blank" class="twitter"><i aria-hidden="true" data-icon=""></i> Twitter</a></li>
                <li><a href="https://plus.google.com/+gurucom/posts" class="googleplus" target="_blank"><i aria-hidden="true" data-icon=""></i> Google +</a></li>
                <li><a href="http://www.linkedin.com/company/992981" class="linkedin" target="_blank"><i aria-hidden="true" data-icon=""></i> LinkedIn</a></li>
                <li><a href="http://www.pinterest.com/gurudotcom/" class="pinterest" target="_blank"><img src="http://www.guru.com/images/hp/pin.png"> Pinterest</a></li>
            </ul>
        </div>
    </div>

    <div class="clearfix jsn-footer-lower">
        <p>
            2015 JobSearchNepal.com ©. All rights reserved
        </p>
    </div>
</div>