{% extends "::base.html.twig" %}

{% block title %}AppBundle:EmployerController:showDashBoard{% endblock %}

{% block body %}
<h1>Welcome to the EmployerController:showDashBoard page</h1>
{% endblock %}
